body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2561px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  position:absolute;
  left:143px;
  top:1369px;
  width:300px;
  height:534px;
}
#u857 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:143px;
  top:546px;
  width:300px;
  height:534px;
}
#u859 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u860 {
  position:absolute;
  left:214px;
  top:709px;
  width:163px;
  height:71px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:548px;
  top:546px;
  width:300px;
  height:534px;
}
#u863 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u864 {
  position:absolute;
  left:173px;
  top:941px;
  width:111px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u865 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u866 {
  position:absolute;
  left:658px;
  top:576px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:171px;
}
#u868 {
  position:absolute;
  left:600px;
  top:649px;
  width:195px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u869 {
  position:absolute;
  left:2px;
  top:76px;
  width:191px;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:1010px;
  top:546px;
  width:300px;
  height:534px;
}
#u871 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:171px;
}
#u872 {
  position:absolute;
  left:599px;
  top:857px;
  width:195px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u873 {
  position:absolute;
  left:2px;
  top:76px;
  width:191px;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u874 {
  position:absolute;
  left:193px;
  top:1404px;
  width:193px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:131px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u876 {
  position:absolute;
  left:994px;
  top:1146px;
  width:347px;
  height:131px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:145px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u878 {
  position:absolute;
  left:143px;
  top:1947px;
  width:405px;
  height:145px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u880 {
  position:absolute;
  left:1037px;
  top:1007px;
  width:112px;
  height:30px;
  font-size:16px;
}
#u881 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:1030px;
  top:642px;
  width:268px;
  height:36px;
}
#u883 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  position:absolute;
  left:1030px;
  top:709px;
  width:268px;
  height:36px;
}
#u885 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:1030px;
  top:777px;
  width:268px;
  height:36px;
}
#u887 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:1030px;
  top:844px;
  width:268px;
  height:36px;
}
#u889 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  position:absolute;
  left:1030px;
  top:912px;
  width:268px;
  height:36px;
}
#u891 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u892 {
  position:absolute;
  left:1175px;
  top:1007px;
  width:112px;
  height:30px;
  font-size:16px;
}
#u893 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:1419px;
  top:639px;
  width:268px;
  height:36px;
}
#u895 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  position:absolute;
  left:1419px;
  top:706px;
  width:268px;
  height:36px;
}
#u897 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:1419px;
  top:774px;
  width:268px;
  height:36px;
}
#u899 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:1419px;
  top:841px;
  width:268px;
  height:36px;
}
#u901 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u902 {
  position:absolute;
  left:1419px;
  top:909px;
  width:268px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u903 {
  position:absolute;
  left:2px;
  top:9px;
  width:264px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:382px;
}
#u904 {
  position:absolute;
  left:1403px;
  top:604px;
  width:300px;
  height:382px;
}
#u905 {
  position:absolute;
  left:2px;
  top:183px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:350px;
  height:19px;
}
#u906p000 {
  position:absolute;
  left:-3px;
  top:-1px;
  width:336px;
  height:4px;
  -webkit-transform:rotate(-37deg);
  -moz-transform:rotate(-37deg);
  -ms-transform:rotate(-37deg);
  transform:rotate(-37deg);
}
#u906p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:338px;
  height:6px;
}
#u906p001 {
  position:absolute;
  left:25px;
  top:88px;
  width:20px;
  height:20px;
}
#u906p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:20px;
}
#u906p002 {
  position:absolute;
  left:286px;
  top:-108px;
  width:20px;
  height:20px;
}
#u906p002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u906.compound {
  width:0px;
  height:0px;
}
#u906 {
  position:absolute;
  left:1098px;
  top:904px;
  width:332px;
  height:1px;
}
#u907 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:239px;
  height:19px;
}
#u908p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:232px;
  height:4px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u908p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:234px;
  height:6px;
}
#u908p001 {
  position:absolute;
  left:213px;
  top:-39px;
  width:20px;
  height:20px;
}
#u908p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u908.compound {
  width:0px;
  height:0px;
}
#u908 {
  position:absolute;
  left:314px;
  top:910px;
  width:230px;
  height:1px;
}
#u909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:261px;
  height:19px;
}
#u910p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:254px;
  height:4px;
}
#u910p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:256px;
  height:6px;
}
#u910p001 {
  position:absolute;
  left:239px;
  top:-10px;
  width:20px;
  height:20px;
}
#u910p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:20px;
}
#u910.compound {
  width:0px;
  height:0px;
}
#u910 {
  position:absolute;
  left:758px;
  top:852px;
  width:252px;
  height:1px;
}
#u911 {
  position:absolute;
  left:2px;
  top:-8px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u912 {
  position:absolute;
  left:729px;
  top:704px;
  width:60px;
  height:60px;
}
#u913 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u914 {
  position:absolute;
  left:728px;
  top:941px;
  width:60px;
  height:60px;
}
#u915 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:97px;
}
#u916p000 {
  position:absolute;
  left:-45px;
  top:43px;
  width:92px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u916p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:94px;
  height:4px;
}
#u916p001 {
  position:absolute;
  left:-10px;
  top:75px;
  width:20px;
  height:20px;
}
#u916p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u916.compound {
  width:0px;
  height:0px;
}
#u916 {
  position:absolute;
  left:758px;
  top:764px;
  width:1px;
  height:88px;
}
#u917 {
  position:absolute;
  left:2px;
  top:36px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:98px;
}
#u918p000 {
  position:absolute;
  left:-45px;
  top:43px;
  width:92px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u918p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:94px;
  height:4px;
}
#u918p001 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u918p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u918.compound {
  width:0px;
  height:0px;
}
#u918 {
  position:absolute;
  left:758px;
  top:852px;
  width:1px;
  height:88px;
}
#u919 {
  position:absolute;
  left:2px;
  top:36px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u920 {
  position:absolute;
  left:537px;
  top:1146px;
  width:371px;
  height:76px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:102px;
  height:19px;
}
#u922p000 {
  position:absolute;
  left:-3px;
  top:0px;
  width:88px;
  height:2px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u922p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:90px;
  height:4px;
}
#u922p001 {
  position:absolute;
  left:31px;
  top:30px;
  width:20px;
  height:20px;
}
#u922p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u922p002 {
  position:absolute;
  left:31px;
  top:-48px;
  width:20px;
  height:20px;
}
#u922p002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u922.compound {
  width:0px;
  height:0px;
}
#u922 {
  position:absolute;
  left:1512px;
  top:995px;
  width:84px;
  height:1px;
}
#u923 {
  position:absolute;
  left:2px;
  top:-8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u924 {
  position:absolute;
  left:1454px;
  top:1048px;
  width:211px;
  height:20px;
  color:#FF0000;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u926 {
  position:absolute;
  left:1351px;
  top:1059px;
  width:129px;
  height:20px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  color:#FF0000;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u928 {
  position:absolute;
  left:1106px;
  top:576px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u930 {
  position:absolute;
  left:173px;
  top:1539px;
  width:245px;
  height:49px;
  font-size:20px;
}
#u931 {
  position:absolute;
  left:2px;
  top:10px;
  width:241px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u932 {
  position:absolute;
  left:173px;
  top:1732px;
  width:245px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u933 {
  position:absolute;
  left:2px;
  top:11px;
  width:241px;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u934 {
  position:absolute;
  left:173px;
  top:1634px;
  width:245px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u935 {
  position:absolute;
  left:2px;
  top:12px;
  width:241px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u936 {
  position:absolute;
  left:212px;
  top:1844px;
  width:147px;
  height:30px;
  font-size:16px;
}
#u937 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:1240px;
  top:1369px;
  width:300px;
  height:534px;
}
#u939 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u940 {
  position:absolute;
  left:1297px;
  top:1793px;
  width:187px;
  height:37px;
  font-size:16px;
}
#u941 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:166px;
}
#u942 {
  position:absolute;
  left:1270px;
  top:1471px;
  width:241px;
  height:166px;
}
#u943 {
  position:absolute;
  left:2px;
  top:75px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u944 {
  position:absolute;
  left:1326px;
  top:1404px;
  width:134px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u946 {
  position:absolute;
  left:361px;
  top:1483px;
  width:43px;
  height:20px;
  color:#0000FF;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u948_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:93px;
  height:19px;
}
#u948p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:86px;
  height:4px;
}
#u948p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:6px;
}
#u948p001 {
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u948p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u948.compound {
  width:0px;
  height:0px;
}
#u948 {
  position:absolute;
  left:414px;
  top:1493px;
  width:84px;
  height:1px;
}
#u949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u950 {
  position:absolute;
  left:508px;
  top:1484px;
  width:157px;
  height:40px;
  color:#FF0000;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u952 {
  position:absolute;
  left:1231px;
  top:1529px;
  width:29px;
  height:50px;
}
#u953 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u954 {
  position:absolute;
  left:1521px;
  top:1529px;
  width:29px;
  height:50px;
}
#u955 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:93px;
  height:19px;
}
#u956p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:86px;
  height:4px;
}
#u956p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:6px;
}
#u956p001 {
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u956p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u956.compound {
  width:0px;
  height:0px;
}
#u956 {
  position:absolute;
  left:1560px;
  top:1553px;
  width:84px;
  height:1px;
}
#u957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u958 {
  position:absolute;
  left:1654px;
  top:1544px;
  width:183px;
  height:20px;
  color:#FF0000;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:145px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u960 {
  position:absolute;
  left:1239px;
  top:1947px;
  width:405px;
  height:145px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u962 {
  position:absolute;
  left:658px;
  top:488px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u964 {
  position:absolute;
  left:1116px;
  top:488px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u966 {
  position:absolute;
  left:235px;
  top:1312px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u968 {
  position:absolute;
  left:1342px;
  top:1312px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u970_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:433px;
  height:19px;
}
#u970p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:428px;
  height:4px;
  -webkit-transform:rotate(-24deg);
  -moz-transform:rotate(-24deg);
  -ms-transform:rotate(-24deg);
  transform:rotate(-24deg);
}
#u970p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:430px;
  height:6px;
}
#u970p001 {
  position:absolute;
  left:392px;
  top:-95px;
  width:20px;
  height:20px;
}
#u970p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u970.compound {
  width:0px;
  height:0px;
}
#u970 {
  position:absolute;
  left:341px;
  top:1764px;
  width:424px;
  height:1px;
}
#u971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u972 {
  position:absolute;
  left:299px;
  top:1829px;
  width:60px;
  height:60px;
}
#u973 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u974 {
  position:absolute;
  left:1435px;
  top:1793px;
  width:60px;
  height:60px;
}
#u975 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u976 {
  position:absolute;
  left:1945px;
  top:1382px;
  width:300px;
  height:534px;
}
#u977 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:102px;
}
#u978 {
  position:absolute;
  left:1968px;
  top:1412px;
  width:147px;
  height:102px;
}
#u979 {
  position:absolute;
  left:2px;
  top:43px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u980 {
  position:absolute;
  left:2133px;
  top:1426px;
  width:103px;
  height:75px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:77px;
}
#u982 {
  position:absolute;
  left:2133px;
  top:1798px;
  width:95px;
  height:76px;
}
#u983 {
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u984 {
  position:absolute;
  left:1959px;
  top:1844px;
  width:107px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:431px;
  height:19px;
}
#u986p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:424px;
  height:4px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u986p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:426px;
  height:6px;
}
#u986p001 {
  position:absolute;
  left:401px;
  top:-64px;
  width:20px;
  height:20px;
}
#u986p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u986.compound {
  width:0px;
  height:0px;
}
#u986 {
  position:absolute;
  left:1488px;
  top:1775px;
  width:422px;
  height:1px;
}
#u987 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u988 {
  position:absolute;
  left:2015px;
  top:1896px;
  width:169px;
  height:17px;
  font-size:12px;
  color:#FF0000;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u990 {
  position:absolute;
  left:143px;
  top:315px;
  width:993px;
  height:127px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  position:absolute;
  left:768px;
  top:1373px;
  width:300px;
  height:534px;
}
#u993 {
  position:absolute;
  left:2px;
  top:260px;
  width:296px;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u994 {
  position:absolute;
  left:791px;
  top:1662px;
  width:250px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:88px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u996 {
  position:absolute;
  left:758px;
  top:1947px;
  width:367px;
  height:88px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:66px;
}
#u998 {
  position:absolute;
  left:862px;
  top:1547px;
  width:111px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u999 {
  position:absolute;
  left:2px;
  top:20px;
  width:107px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:161px;
  height:19px;
}
#u1000p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:154px;
  height:4px;
}
#u1000p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:156px;
  height:6px;
}
#u1000p001 {
  position:absolute;
  left:139px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1000p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:20px;
}
#u1000.compound {
  width:0px;
  height:0px;
}
#u1000 {
  position:absolute;
  left:1078px;
  top:1658px;
  width:152px;
  height:1px;
  font-size:16px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:-10px;
  width:148px;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u1002 {
  position:absolute;
  left:862px;
  top:1312px;
  width:141px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u1004 {
  position:absolute;
  left:235px;
  top:488px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u1006 {
  position:absolute;
  left:2042px;
  top:1312px;
  width:73px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1008 {
  position:absolute;
  left:235px;
  top:1107px;
  width:90px;
  height:50px;
  font-size:18px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#0066FF;
}
#u1010 {
  position:absolute;
  left:143px;
  top:154px;
  width:993px;
  height:127px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#0066FF;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1012 {
  position:absolute;
  left:307px;
  top:941px;
  width:111px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1014 {
  position:absolute;
  left:265px;
  top:927px;
  width:60px;
  height:60px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:303px;
  height:19px;
}
#u1016p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:296px;
  height:4px;
}
#u1016p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:298px;
  height:6px;
}
#u1016p001 {
  position:absolute;
  left:281px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1016p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u1016.compound {
  width:0px;
  height:0px;
}
#u1016 {
  position:absolute;
  left:2186px;
  top:1467px;
  width:294px;
  height:1px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u1018 {
  position:absolute;
  left:2186px;
  top:1451px;
  width:1px;
  height:17px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u1020 {
  position:absolute;
  left:2163px;
  top:1451px;
  width:46px;
  height:1px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:2490px;
  top:1458px;
  width:71px;
  height:1px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1024 {
  position:absolute;
  left:1284px;
  top:1665px;
  width:247px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:158px;
}
#u1026 {
  position:absolute;
  left:1966px;
  top:1571px;
  width:269px;
  height:157px;
  font-size:18px;
  text-align:left;
}
#u1027 {
  position:absolute;
  left:2px;
  top:41px;
  width:265px;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1028 {
  position:absolute;
  left:1297px;
  top:1853px;
  width:187px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
