body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1208 {
  position:absolute;
  left:134px;
  top:42px;
  width:847px;
  height:175px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1209 {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  white-space:nowrap;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1210 {
  position:absolute;
  left:138px;
  top:278px;
  width:375px;
  height:667px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u1212 {
  position:absolute;
  left:523px;
  top:863px;
  width:124px;
  height:1px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:482px;
}
#u1214 {
  position:absolute;
  left:646px;
  top:383px;
  width:1px;
  height:481px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:134px;
  height:19px;
}
#u1216p000 {
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:4px;
}
#u1216p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:130px;
  height:6px;
}
#u1216p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1216p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u1216.compound {
  width:0px;
  height:0px;
}
#u1216 {
  position:absolute;
  left:523px;
  top:383px;
  width:124px;
  height:1px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1218 {
  position:absolute;
  left:566px;
  top:599px;
  width:398px;
  height:71px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  white-space:nowrap;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1220 {
  position:absolute;
  left:370px;
  top:850px;
  width:79px;
  height:20px;
  color:#0000FF;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1222 {
  position:absolute;
  left:138px;
  top:1040px;
  width:375px;
  height:667px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:41px;
}
#u1224 {
  position:absolute;
  left:248px;
  top:1060px;
  width:156px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1225 {
  position:absolute;
  left:2px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:252px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  position:absolute;
  left:146px;
  top:1111px;
  width:303px;
  height:252px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:118px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1229 {
  position:absolute;
  left:459px;
  top:1177px;
  width:40px;
  height:40px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u1231 {
  position:absolute;
  left:325px;
  top:1182px;
  width:124px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1232 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1233 {
  position:absolute;
  left:457px;
  top:1269px;
  width:40px;
  height:40px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u1235 {
  position:absolute;
  left:323px;
  top:1274px;
  width:124px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1236 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1237 {
  position:absolute;
  left:146px;
  top:1344px;
  width:40px;
  height:40px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:70px;
}
#u1239 {
  position:absolute;
  left:202px;
  top:1349px;
  width:124px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u1240 {
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1241 {
  position:absolute;
  left:1138px;
  top:1040px;
  width:375px;
  height:667px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1243 {
  position:absolute;
  left:672px;
  top:1040px;
  width:375px;
  height:667px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1245 {
  position:absolute;
  left:299px;
  top:1357px;
  width:55px;
  height:55px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:329px;
  height:22px;
}
#u1247p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:320px;
  height:4px;
}
#u1247p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:322px;
  height:6px;
}
#u1247p001 {
  position:absolute;
  left:304px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1247p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1247.compound {
  width:0px;
  height:0px;
}
#u1247 {
  position:absolute;
  left:354px;
  top:1384px;
  width:318px;
  height:2px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:-7px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
