body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u934 {
  position:absolute;
  left:134px;
  top:42px;
  width:847px;
  height:175px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  white-space:nowrap;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u936 {
  position:absolute;
  left:138px;
  top:278px;
  width:375px;
  height:667px;
}
#u937 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u938 {
  position:absolute;
  left:523px;
  top:863px;
  width:124px;
  height:1px;
}
#u939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:482px;
}
#u940 {
  position:absolute;
  left:646px;
  top:383px;
  width:1px;
  height:481px;
}
#u941 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:134px;
  height:19px;
}
#u942p000 {
  position:absolute;
  left:-2px;
  top:-2px;
  width:128px;
  height:4px;
}
#u942p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:130px;
  height:6px;
}
#u942p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u942p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u942.compound {
  width:0px;
  height:0px;
}
#u942 {
  position:absolute;
  left:523px;
  top:383px;
  width:124px;
  height:1px;
}
#u943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u944 {
  position:absolute;
  left:566px;
  top:599px;
  width:398px;
  height:71px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  white-space:nowrap;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u946 {
  position:absolute;
  left:370px;
  top:850px;
  width:79px;
  height:20px;
  color:#0000FF;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u948 {
  position:absolute;
  left:138px;
  top:1040px;
  width:375px;
  height:667px;
}
#u949 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:41px;
}
#u950 {
  position:absolute;
  left:248px;
  top:1060px;
  width:156px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u951 {
  position:absolute;
  left:2px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:252px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  position:absolute;
  left:146px;
  top:1111px;
  width:303px;
  height:252px;
}
#u954 {
  position:absolute;
  left:2px;
  top:118px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u955 {
  position:absolute;
  left:459px;
  top:1177px;
  width:40px;
  height:40px;
}
#u956 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u957 {
  position:absolute;
  left:325px;
  top:1182px;
  width:124px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u958 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u959 {
  position:absolute;
  left:457px;
  top:1269px;
  width:40px;
  height:40px;
}
#u960 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u961 {
  position:absolute;
  left:323px;
  top:1274px;
  width:124px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u962 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u963 {
  position:absolute;
  left:146px;
  top:1344px;
  width:40px;
  height:40px;
}
#u964 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:70px;
}
#u965 {
  position:absolute;
  left:202px;
  top:1349px;
  width:124px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u966 {
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u967 {
  position:absolute;
  left:1138px;
  top:1040px;
  width:375px;
  height:667px;
}
#u968 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u969 {
  position:absolute;
  left:672px;
  top:1040px;
  width:375px;
  height:667px;
}
#u970 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u971 {
  position:absolute;
  left:299px;
  top:1357px;
  width:55px;
  height:55px;
}
#u972 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:329px;
  height:22px;
}
#u973p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:320px;
  height:4px;
}
#u973p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:322px;
  height:6px;
}
#u973p001 {
  position:absolute;
  left:304px;
  top:-10px;
  width:22px;
  height:22px;
}
#u973p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u973.compound {
  width:0px;
  height:0px;
}
#u973 {
  position:absolute;
  left:354px;
  top:1384px;
  width:318px;
  height:2px;
}
#u974 {
  position:absolute;
  left:2px;
  top:-7px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
